<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../styles/pushu-dropdown.css" rel="stylesheet" />
  <title>Dropdown</title>
</head>

<body>
  <details class="dropdown">
    <summary class="dropdown-button">
      Options
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="icon">
        <path fill-rule="evenodd"
          d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
          clip-rule="evenodd"></path>
      </svg>
    </summary>
    <div class="dropdown-content">
      <div class="dropdown-group">
        <div class="dropdown-item">
          <svg viewBox="0 0 20 20" class="icon" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 13V16H7L16 7L13 4L4 13Z" fill="#EDE9FE" stroke="#A78BFA" stroke-width="2"></path>
          </svg>Edit
        </div>
        <div class="dropdown-item">
          <svg viewBox="0 0 20 20" class="icon" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 4H12V12H4V4Z" fill="#EDE9FE" stroke="#A78BFA" stroke-width="2"></path>
            <path d="M8 8H16V16H8V8Z" fill="#EDE9FE" stroke="#A78BFA" stroke-width="2"></path>
          </svg>Duplicate
        </div>
      </div>
      <div class="dropdown-group">
        <div class="dropdown-item"><svg viewBox="0 0 20 20" class="icon" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="5" y="8" width="10" height="8" fill="#EDE9FE" stroke="#A78BFA" stroke-width="2"></rect>
            <rect x="4" y="4" width="12" height="4" fill="#EDE9FE" stroke="#A78BFA" stroke-width="2"></rect>
            <path d="M8 12H12" stroke="#A78BFA" stroke-width="2"></path>
          </svg>Archive</div>
        <div class="dropdown-item"><svg viewBox="0 0 20 20" class="icon" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 4H16V10" stroke="#A78BFA" stroke-width="2"></path>
            <path d="M16 4L8 12" stroke="#A78BFA" stroke-width="2"></path>
            <path d="M8 6H4V16H14V12" stroke="#A78BFA" stroke-width="2"></path>
          </svg>Move</div>
      </div>
      <div class="dropdown-item"><svg viewBox="0 0 20 20" class="icon" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="5" y="6" width="10" height="10" fill="#EDE9FE" stroke="#A78BFA" stroke-width="2"></rect>
          <path d="M3 6H17" stroke="#A78BFA" stroke-width="2"></path>
          <path d="M8 6V4H12V6" stroke="#A78BFA" stroke-width="2"></path>
        </svg>Delete</div>
    </div>
  </details>
</body>

</html>